@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Goldman:wght@400;700&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Wildcard selector to override the defult browser setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Default styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* basic project styles */
    color: black;
}

/* header */
header {
    background-color: rgb(136, 142, 45);
    display: flex;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
}

header>h1 {
    font-family: "ubuntu", sans-serif;
    font-size: 190%;
    padding: 8px;
    padding-left: 20px;
}

/* Navbar styling with menu */
nav {
    position: absolute;
    background-color: rgb(136, 142, 45);
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px;
    display: none;
    top: 5vh;
}

/* Menu Toggle */
#nav-menu:checked~nav {
    display: block;

}

#nav-menu {
    display: none;
    font-size: 20px;
}

/* Main */
main {
    /* to push the footer top the bottom of the page */
    flex: 1 0 auto;
}

#main {
    background: url(../images/lake-with-boats.jpeg) no-repeat center center/cover;
    width: 100%;
    height: 300px;
    position: relative;
}

#club-title {
    background-color: rgba(40, 75, 99, 0.7);
    position: absolute;
    bottom: 10px;
    max-height: 70%;
    max-width: 90%;
    padding: 10px;
    color: white;
    font-size: 10px;
}

#middle-content {
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#reasons {
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
    line-height: 15px;
}

#reasons div {
    margin-top: 10px;

}

#reasons h3 {
    font-size: 15px;
}

#reasons p {
    font-size: 10px;
}

#reasons-hr {
    max-width: 99%;
    margin: 5px 0;
}

#circle-man-fish {
    height: 80vw;
    width: 80vw;
    background: url("../images/man-carp.jpg") no-repeat top center / cover;
    margin-bottom: 20px;
    /* to make it a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
#social-media {
    text-align: center;
    width: 100%;
    padding: 10px 5px 10px 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(136, 142, 45);
}

/* media query for large or landscape phones */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* media query: tablets and larger (768 and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical,
    #benefits-mental {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    /*main content */
    main {
        /*push main content down to accommodae larger header */
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    #photos {
        column-count: 3;
    }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }


}