@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Goldman:wght@400;700&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&1,300;1,400;1,500;1,700&display=swap');

/* Wildcard selector to override the default browser setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(40, 75, 99);
    font-size: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden-title {
    display: none;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: rgb(136, 142, 45);
    display: flex;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    width: 100%;
    height: auto;
    position: relative;
}

header h1 {
    font-family: "ubuntu", sans-serif;
    font-size: 2.3rem;
    padding: 0.7rem 0.1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

.nav-menu-checkbox {
    display: none;
}

.nav-menu-label {
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1000;
}

/* Navbar styling with menu */
nav {
    background-color: rgb(136, 142, 45);
    width: 100%;
    padding: 0 1rem;
    display: none;
    position: absolute;
    top: 100%;
    /* Position it right below the header */
    left: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#options {
    list-style-type: none;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
}

#options li {
    margin: 1rem 0;
    font-size: 1.5rem;
}

#options a {
    color: white;
    text-decoration: none;
}

/* Show menu when checkbox is checked */
.nav-menu-checkbox:checked+.nav-menu-label+nav {
    display: block;
}

/* Main */
main {
    /* to push the footer to the bottom of the page */
    flex: 1 0 auto;
}

/* Club Photo's page styling */
#club-photo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 300%;
    object-fit: cover;

}

.IMG-vii {
    max-width: 270px;
}


/* Sign up stying */
#sign-up-main {
    background: url(../images/sign-up.jpg) no-repeat center center/cover;
    width: 100%;
    height: 725px;
    position: relative;

}

#enquiries {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 725px;

}

.sign-up-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#open-times,
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: underline;
}

#enquiries-title {
    color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    max-width: 80%;
    background-color: rgba(136, 142, 45, .6);
    padding: 20px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

#enquiries-title h1 {
    padding: 5px 0;
    text-decoration: underline;
}

#enquiries-title p {
    padding: 5px 0;
    color: white;
}

#enter-details {
    color: white;
    position: absolute;
    margin-top: 300px;
    margin-left: 30px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(136, 142, 45, .6);
    padding: 40px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

#enter-details input {
    border: 0;
    color: gray;
    padding-top: 3px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    height: 25px;
}

.fish-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
}




/* Media Query for Tablets and larger */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        letter-spacing: 2px;
        top: auto;
        left: auto;
    }

    .nav-menu-label {
        display: none;
    }

    #options {
        display: flex;
        align-items: baseline;
        list-style-type: none;
        padding: 1rem 1rem;
        margin: 0;
        gap: 1rem;
    }




    #club-photos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3px;

    }

    .IMG-vii {
        min-width: 540px;
    }

    /* styling for the enquiries/signup page */

    #sign-up-main {
        background: url(../images/sign-up.jpg) no-repeat center center/cover;
        width: 100%;
        height: 880px;
        position: relative;

    }

    #enquiries {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 880px;
    }

    #open-times,
    a {
        text-decoration: underline;
    }

    #enquiries-title {
        color: white;
        position: absolute;
        margin-top: 20px;
        margin-left: 80px;
        max-width: 60%;
        background-color: rgba(136, 142, 45, .6);
        padding: 20px;

    }

    #enter-details {
        color: white;
        position: absolute;
        margin-top: 200px;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        background-color: rgba(136, 142, 45, .6);
        padding: 30px;
    }


}

/* Additional Styling for Content and Footer */
#main {
    background: url(../images/lake-with-boats.png) no-repeat bottom center/cover;
    max-width: 100%;
    height: 300px;
    position: relative;
}

#club-title {
    background-color: rgba(40, 75, 99, 0.7);
    position: absolute;
    bottom: 10px;
    max-height: 70%;
    max-width: 90%;
    padding: 10px;
    color: white;
    font-size: 10px;
}

#middle-content {
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
    text-transform: uppercase;
}

#ul-reasons {
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
    line-height: 15px;
}

#ul-reasons div {
    margin-top: 10px;
}

#ul-reasons h3 {
    font-size: 1.1rem;
    color: #fafafa;
    padding-top: 10px;
}

#ul-reasons p {
    font-size: 1rem;
    color: white;
}

#ul-reasons hr {
    max-width: 99%;
    margin: 5px 0;
    border-color: #888e2d;
}

#circle-man-fish {
    height: 80vw;
    width: 80vw;
    background: url("../images/mancarp2.jpg") no-repeat top center / cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#places-to-fish {
    background: url(../images/fishingOffJetty.jpg) no-repeat center / cover;
    display: flex;
    flex-wrap: wrap;
}

#places-to-fish div {
    color: #888e2d;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid #D1462F;
}

#places-to-fish div p {
    color: white;
}

#social-media {
    text-align: center;
    width: 100%;
    padding: 10px 5px 10px 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(136, 142, 45);
}

footer a {
    color: black;
}

#club-photo {
    column-count: 4;
}

/* Hover effects for larger screens */
@media screen and (min-width: 992px) {
    #options>li:hover {
        color: rgb(136, 142, 45);
        background-color: rgb(40, 75, 99);
        letter-spacing: 2px;

    }

    a:hover {
        color: rgb(136, 142, 45);
        background-color: rgb(40, 75, 99);

    }

    .fish-button:hover {
        color: rgb(136, 142, 45);
        background-color: rgb(40, 75, 99);
        font-weight: bold;
    }
}